.juntagrico_logo {
    background: url(/static/img/logo_new.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 700px;
    height: 687px;
}
