.juntagrico_logo {
    background: url(/static/img/logorandebandi.png) 0 0px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px;
    height: 150px;
}
