{% load static %}
{% load juntagrico.config %}
<style type="text/css">
    @media screen
    {@font-face {font-family: 'Source Sans Pro Light';src: url('{{ serverurl }}{% static 'juntagrico/fonts/SourceSansPro-Light.ttf' %}') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face
    {font-family: 'Source Sans Pro Regular';src: url('{{ serverurl }}{% static 'juntagrico/fonts/SourceSansPro-Regular.ttf' %}') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    }
</style>
<table width="600px">
    <tr>
        <td colspan="3" style="padding-top:25px; font-size:14px; font-family: Arial, sans-serif; text-align: left;">
            {% block content %}
            {% endblock %}
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-top:25px;">
            <a href="{% organisation_website "url" %}">
                {% organisation_website "name" %}
            </a>
        </td>
    </tr>
</table>
